

    /* IMAGES */
.propertyDetails > .propertyModal > .images {
    width: 55%;
    height: 437px;
    margin: 5px;
    position: relative;
}

.propertyDetails > .propertyModal > .images > div {
    height: 100%;
    display: flex;
    overflow: hidden;
}

.propertyDetails > .propertyModal > .images > div > div {
    min-width: 100%;
    height: 100%;
    background-color: #faebcf;
    align-content: center;
    text-align: center;
}

.propertyDetails > .propertyModal > .images > div > div > img {
    max-width: 100%;
    max-height: 100%;
}

.propertyDetails > .propertyModal > .images > .previousIcon {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 20px 0px 0px 20px;
    background-color: transparent;
    border: none;
    color: #a39a9a;
    cursor: pointer;
    align-content: center;
}

.propertyDetails > .propertyModal > .images > .nextIcon {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    border-radius: 0px 20px 20px 0px;
    background-color: transparent;
    border: none;
    color: #a39a9a;
    cursor: pointer;
    align-content: center;
}

.propertyDetails > .propertyModal > .images > button > img {
    height: 60px;
    width: 40px;
}